body{
    background-color:white; 
}
.square{
    height: 200px;
    width: 500px;
    position: relative;
    background-color:orange;
    top: 200px;
    left: 800px;
    border-radius: 500px 100px 100px 100px;
    border:10px solid black;
    
}
.wheel1{
    height:     50px;
    width: 50px;
    background-color: black;
    position: absolute;
    border-radius: 50%;
    top: 418px;
    left: 900px;
   
}


.wheel3{
    height: 50px;
    width: 50px;
    background-color: black;
    position: absolute;
    border-radius: 50%;
    top: 418px;
    left: 1170px;
  
}

.glass{
    height: 50px;
    width: 50px;
background-color:black;
    position: relative;
    border-radius: 0  0px 90px 0;
    rotate: 43deg;
    left:850px;
    top: 35px;      
    
}
.wheel2{
    height: 10px;
    width: 10px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    top: 440px;
    left: 919px;
}
.wheel4{
    height: 10px;
    width: 10px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    top: 440px;
    left: 1189px;
}
.u{
    text-align: center;
    position: absolute;
    left: 1000px;
    
}
.rod{
    height: 10px;
    width: 30px;
    background-color: black;
    position: absolute;
    border-radius:0 10px 10px 0;
    left: 1295px;
    top:409px ;
}
.road{
    height: 100px;
    width: 2300px;
    background-color: black;
    position: absolute;
    top: 473px;
}
.van{
    animation: vertical-move 13s infinite;
}
@keyframes vertical-move{
    0%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-2750px);
    }
    50%{
        transform: translateY(1000px);
    }
    70%{
        transform: translateX(2750px);
    }
    80%{
        transform: translateY(-1px);
    }
    100%{
        transform: translateX(0px);
    }
}